<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>EXStreamTVApp</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    <key>CFBundleIdentifier</key>
    <string>com.exstreamtv.app</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>EXStreamTV</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.4.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>© 2026 EXStreamTV. MIT License.</string>
    <key>NSMainStoryboardFile</key>
    <string></string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSSupportsAutomaticTermination</key>
    <true/>
    <key>NSSupportsSuddenTermination</key>
    <false/>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>EXStreamTV URL</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>exstreamtv</string>
            </array>
        </dict>
    </array>
    <key>NSServices</key>
    <array>
        <dict>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>Open in EXStreamTV</string>
            </dict>
            <key>NSMessage</key>
            <string>handleIPTVURL</string>
            <key>NSPortName</key>
            <string>EXStreamTV</string>
            <key>NSSendTypes</key>
            <array>
                <string>public.plain-text</string>
                <string>public.url</string>
            </array>
            <key>NSRequiredContext</key>
            <dict>
                <key>NSTextContent</key>
                <string>URL</string>
            </dict>
        </dict>
        <dict>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>Stream to EXStreamTV</string>
            </dict>
            <key>NSMessage</key>
            <string>handleIPTVURL</string>
            <key>NSPortName</key>
            <string>EXStreamTV</string>
            <key>NSSendTypes</key>
            <array>
                <string>public.plain-text</string>
                <string>public.url</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
